#!/bin/bash

# Install Homebrew if it doesn't exist
if ! [ -x "$(command -v brew)" ]; then
    /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
fi

brew cleanup
brew update
brew upgrade

{{ range .taps -}}
brew tap {{ . | quote }}
{{ end -}}

brewList="$(brew list)"

{{ range .brews -}}
if ! [[ "$(echo $brewList | grep {{ . | quote }})" || -d "/Applications/{{ . }}.app" || -x "$(command -v {{ . }})" ]]; then
    echo "‼️ {{ . }} not installed, installing via brew..."
    brew install {{ . | quote }}
else
    echo "✅ {{ . }} is already installed."
fi

{{ end -}}
