<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.github.fedecalendino.alfred-emoji-mate</string>
	<key>connections</key>
	<dict>
		<key>8B087B9B-EF04-49BF-B7DF-710AE605EFC7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CD7838DC-10D2-4B9A-9183-56F7F50037D7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>98FFB671-15EA-49E0-AA9B-77570204157B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CD7838DC-10D2-4B9A-9183-56F7F50037D7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AE79D98B-99FD-449A-A5BC-A23B280E8E1D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>393132C9-8FFB-45E8-85FE-29B638770563</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CD7838DC-10D2-4B9A-9183-56F7F50037D7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F2AB2714-421B-401A-B722-157A4710DF7E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>F3E98146-DEBF-4681-9BE9-613B595892CE</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>F2AB2714-421B-401A-B722-157A4710DF7E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>AE79D98B-99FD-449A-A5BC-A23B280E8E1D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>C4EBD28E-4E5D-4090-B758-528B707C5DB5</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F2AB2714-421B-401A-B722-157A4710DF7E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1F6B084F-ECB0-4573-B67E-E110AEB00649</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Fede Calendino</string>
	<key>description</key>
	<string>Quickly search for emojis 🧉️</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Emoji Mate</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>1F6B084F-ECB0-4573-B67E-E110AEB00649</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>{var:keyword}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>1</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>Searching...</string>
				<key>script</key>
				<string>/usr/bin/python3 ./dist/search_text.py $@</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>For example: mate</string>
				<key>title</key>
				<string>Search by text</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>98FFB671-15EA-49E0-AA9B-77570204157B</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>copy:</string>
				<key>replacestring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>F2AB2714-421B-401A-B722-157A4710DF7E</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{query}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>copy:*</string>
						<key>outputlabel</key>
						<string>copy</string>
						<key>uid</key>
						<string>F3E98146-DEBF-4681-9BE9-613B595892CE</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{query}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>paste:*</string>
						<key>outputlabel</key>
						<string>paste</string>
						<key>uid</key>
						<string>C4EBD28E-4E5D-4090-B758-528B707C5DB5</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>copy</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>CD7838DC-10D2-4B9A-9183-56F7F50037D7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>{var:keyword}?</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>1</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>Searching...</string>
				<key>script</key>
				<string>/usr/bin/python3 ./dist/search_emoji.py $@</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>For example: 🧉</string>
				<key>title</key>
				<string>Search by emoji</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>8B087B9B-EF04-49BF-B7DF-710AE605EFC7</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>393132C9-8FFB-45E8-85FE-29B638770563</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>paste:</string>
				<key>replacestring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>AE79D98B-99FD-449A-A5BC-A23B280E8E1D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Quickly search for emojis 🧉️</string>
	<key>uidata</key>
	<dict>
		<key>1F6B084F-ECB0-4573-B67E-E110AEB00649</key>
		<dict>
			<key>xpos</key>
			<real>540</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>393132C9-8FFB-45E8-85FE-29B638770563</key>
		<dict>
			<key>xpos</key>
			<real>545</real>
			<key>ypos</key>
			<real>155</real>
		</dict>
		<key>8B087B9B-EF04-49BF-B7DF-710AE605EFC7</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>155</real>
		</dict>
		<key>98FFB671-15EA-49E0-AA9B-77570204157B</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>AE79D98B-99FD-449A-A5BC-A23B280E8E1D</key>
		<dict>
			<key>xpos</key>
			<real>390</real>
			<key>ypos</key>
			<real>185</real>
		</dict>
		<key>CD7838DC-10D2-4B9A-9183-56F7F50037D7</key>
		<dict>
			<key>xpos</key>
			<real>270</real>
			<key>ypos</key>
			<real>90</real>
		</dict>
		<key>F2AB2714-421B-401A-B722-157A4710DF7E</key>
		<dict>
			<key>xpos</key>
			<real>390</real>
			<key>ypos</key>
			<real>45</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>;</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Keyword to quickly search for emojis.</string>
			<key>label</key>
			<string>Emoji Mate Keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>keyword</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>en</string>
				<key>pairs</key>
				<array>
					<array>
						<string>🇬🇧 English</string>
						<string>en</string>
					</array>
					<array>
						<string>🇩🇪 Deutsche</string>
						<string>de</string>
					</array>
					<array>
						<string>🇪🇸 Español</string>
						<string>es</string>
					</array>
					<array>
						<string>🇫🇷 Français</string>
						<string>fr</string>
					</array>
					<array>
						<string>🇮🇹 Italiano</string>
						<string>it</string>
					</array>
					<array>
						<string>🇵🇹 Português</string>
						<string>pt</string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string>Select the language you prefer.
note: not all emojis are available in all languages.</string>
			<key>label</key>
			<string>Language</string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>LANG</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>Medium-Light</string>
				<key>pairs</key>
				<array>
					<array>
						<string>👍 None</string>
						<string>None</string>
					</array>
					<array>
						<string>👍🏻 Light</string>
						<string>Light</string>
					</array>
					<array>
						<string>👍🏼 Medium-Light</string>
						<string>Medium-Light</string>
					</array>
					<array>
						<string>👍🏽 Medium</string>
						<string>Medium</string>
					</array>
					<array>
						<string>👍🏾 Medium-Dark</string>
						<string>Medium-Dark</string>
					</array>
					<array>
						<string>👍🏿 Dark</string>
						<string>Dark</string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string>Default skin tone for emojis</string>
			<key>label</key>
			<string>Skin Tone</string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>SKIN_TONE</string>
		</dict>
	</array>
	<key>version</key>
	<string>2.3.0</string>
	<key>webaddress</key>
	<string>https://github.com/fedecalendino/alfred-emoji-mate</string>
</dict>
</plist>
