<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>connections</key>
	<dict>
		<key>81EDEBD9-A1AA-4D86-A059-CD4B1B002014</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E9DAF803-9AEF-4D85-8914-49199CE7369C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C5F38FFF-ABE3-4E53-B4AD-5010F1F784D1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>81EDEBD9-A1AA-4D86-A059-CD4B1B002014</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string></string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<true/>
	<key>name</key>
	<string>List commands</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>36</integer>
				<key>hotmod</key>
				<integer>1966080</integer>
				<key>hotstring</key>
				<string>↩</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>C5F38FFF-ABE3-4E53-B4AD-5010F1F784D1</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>fixedorder</key>
				<false/>
				<key>items</key>
				<string>[{"imagefile":"b7ba418497196eead964e64c446bf6bc6ddb0d70.png","title":"Do Not Disturb","arg":"dnd","subtitle":"dnd"},{"imagefile":"a8f48eb22378b44627a9e9f0b17d215e89a44ed8.png","title":"Search Menu Bar","arg":"m ","subtitle":"m"},{"title":"Add Reminder","arg":"remind","subtitle":"remind"},{"imagefile":"7f9836b6119c847bf31e849a7119fe7280ffd376.png","title":"Paste 2FA Code","arg":"2fa","subtitle":"2fa"},{"imagefile":"b5e394b1964209beec7b8ca1b2186b1f80fc7aa6.png","title":"Emoji Search","arg":";","subtitle":";"},{"imagefile":"b3bec054ac0272523d642704fabff464b1dc1f81.png","title":"Search Jisho","arg":"ji","subtitle":"ji"}]</string>
				<key>keyword</key>
				<string>?</string>
				<key>matchmode</key>
				<integer>0</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.listfilter</string>
			<key>uid</key>
			<string>81EDEBD9-A1AA-4D86-A059-CD4B1B002014</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>leftcursor</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.showalfred</string>
			<key>uid</key>
			<string>E9DAF803-9AEF-4D85-8914-49199CE7369C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>81EDEBD9-A1AA-4D86-A059-CD4B1B002014</key>
		<dict>
			<key>xpos</key>
			<real>470</real>
			<key>ypos</key>
			<real>145</real>
		</dict>
		<key>C5F38FFF-ABE3-4E53-B4AD-5010F1F784D1</key>
		<dict>
			<key>xpos</key>
			<real>290</real>
			<key>ypos</key>
			<real>145</real>
		</dict>
		<key>E9DAF803-9AEF-4D85-8914-49199CE7369C</key>
		<dict>
			<key>xpos</key>
			<real>660</real>
			<key>ypos</key>
			<real>175</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
