<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.vitorgalvao.alfred.notetaker</string>
	<key>connections</key>
	<dict>
		<key>0A1EA1F4-AAFA-4ABD-A6F1-CE1B87C9F961</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3CFC06C4-15FD-458F-8931-B1E802885DC8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>109127CB-1ECA-47B9-B89B-F8E5A698BA9F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1F5437E9-0DF7-46A4-AA92-81D6427F076B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>8EB01AF1-E5E2-487A-8A45-0087A01F883E</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>333830F7-22A8-49D1-9288-2AF6CEF19CBF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8F9BEC2F-8B76-4495-ADFB-310A17A94764</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>39007B1B-7A95-4D71-8167-54D693358BB8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4B7DB4CB-8E78-42E2-BD31-AE422AD38416</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3CFC06C4-15FD-458F-8931-B1E802885DC8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5B01A01B-A7DE-4D47-9336-B7CA9E99C023</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4268F5BF-DEAF-4330-9243-96D731A79649</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>39007B1B-7A95-4D71-8167-54D693358BB8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>45EDDC71-B661-4406-B076-64091AE6AC94</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>39007B1B-7A95-4D71-8167-54D693358BB8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>6F02DF87-5036-47FA-B960-C57F64C120DD</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Preview in Alfred</string>
				<key>vitoclose</key>
				<true/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>6307D69B-2A58-4CC8-A224-EECFB208F0B8</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string>Copy and delete note</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>759121D9-E2D9-429D-A361-034E5C467193</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Copy note</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4B7DB4CB-8E78-42E2-BD31-AE422AD38416</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>69E2339E-FD01-4F41-91B5-99F8BA6C439F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>5B25A0B4-914F-40A1-9F0C-CD3B39CD20A4</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>A5BBBDFA-812C-4890-A9FB-7A4C7412959F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>3792075C-B2B2-4006-9CFF-B0CB9D23C57D</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>BBDDB0D6-6A05-4706-8428-55AE093FA9E4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5B01A01B-A7DE-4D47-9336-B7CA9E99C023</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5E8ED3D2-1843-4703-8D38-06A64073881B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>8EB01AF1-E5E2-487A-8A45-0087A01F883E</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5E8ED3D2-1843-4703-8D38-06A64073881B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>268AF531-D3CC-4EB8-BAA0-059955CBFF2F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6307D69B-2A58-4CC8-A224-EECFB208F0B8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EDBCA616-E301-4D4A-9B81-6A94998D0A93</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>69E2339E-FD01-4F41-91B5-99F8BA6C439F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E9284C9B-2763-4D7F-A733-37D92B2DCECB</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Open in text editor</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>A5BBBDFA-812C-4890-A9FB-7A4C7412959F</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Edit in Alfred</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6EE6822B-BEF6-4448-AC29-1AF65040217F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B4F04599-BBE1-4B02-8336-0E88ECA304A9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
		<key>6F02DF87-5036-47FA-B960-C57F64C120DD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>39007B1B-7A95-4D71-8167-54D693358BB8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>759121D9-E2D9-429D-A361-034E5C467193</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EDBCA616-E301-4D4A-9B81-6A94998D0A93</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>798D2B3F-CA9B-4351-AF4B-5B13672FAE9C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8D3BABE5-6CDE-4E77-A161-CD8F3EBD3021</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
		<key>8D3BABE5-6CDE-4E77-A161-CD8F3EBD3021</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>39007B1B-7A95-4D71-8167-54D693358BB8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8F9BEC2F-8B76-4495-ADFB-310A17A94764</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FDE07E00-698E-453D-8202-90A71C69A996</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A5BBBDFA-812C-4890-A9FB-7A4C7412959F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3CFC06C4-15FD-458F-8931-B1E802885DC8</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Save and close</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>0A1EA1F4-AAFA-4ABD-A6F1-CE1B87C9F961</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Save and open in text editor</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B4F04599-BBE1-4B02-8336-0E88ECA304A9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FEC3EEA9-5B06-4A4A-99CB-12577C0176B6</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Copy text</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>3539C1EE-8AB7-4C87-A183-21F45AC60C39</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Create new note</string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
		<key>B9401232-A7CF-42BD-AC1E-5A9FEE54DD5C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>45EDDC71-B661-4406-B076-64091AE6AC94</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BB2CD150-2E0C-44B4-AD25-3E38E4BF793B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>109127CB-1ECA-47B9-B89B-F8E5A698BA9F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BBDDB0D6-6A05-4706-8428-55AE093FA9E4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>268AF531-D3CC-4EB8-BAA0-059955CBFF2F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D004042C-58C6-4A14-9D27-EFE19796B8AF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8F9BEC2F-8B76-4495-ADFB-310A17A94764</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
		<key>D12C7141-4A07-4223-8D0F-AE5AEF64ABC3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B9401232-A7CF-42BD-AC1E-5A9FEE54DD5C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
		<key>E9284C9B-2763-4D7F-A733-37D92B2DCECB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>268AF531-D3CC-4EB8-BAA0-059955CBFF2F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EDBCA616-E301-4D4A-9B81-6A94998D0A93</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BB2CD150-2E0C-44B4-AD25-3E38E4BF793B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FDE07E00-698E-453D-8202-90A71C69A996</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4268F5BF-DEAF-4330-9243-96D731A79649</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Vítor Galvão</string>
	<key>description</key>
	<string>Keep small bits of text</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Note Taker</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>filetypes</key>
				<array>
					<string>+public.plain-text</string>
				</array>
				<key>name</key>
				<string>Edit File</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>798D2B3F-CA9B-4351-AF4B-5B13672FAE9C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict/>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>8D3BABE5-6CDE-4E77-A161-CD8F3EBD3021</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>behaviour</key>
				<integer>2</integer>
				<key>fontmode</key>
				<integer>0</integer>
				<key>fontsizing</key>
				<integer>0</integer>
				<key>footertext</key>
				<string>⌘↩ Edit in Alfred · ⌥↩ Open in text editor</string>
				<key>inputfile</key>
				<string>{var:note_path}</string>
				<key>inputtype</key>
				<integer>2</integer>
				<key>loadingtext</key>
				<string></string>
				<key>outputmode</key>
				<integer>0</integer>
				<key>scriptinput</key>
				<integer>0</integer>
				<key>spellchecking</key>
				<integer>0</integer>
				<key>stackview</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.userinterface.text</string>
			<key>uid</key>
			<string>69E2339E-FD01-4F41-91B5-99F8BA6C439F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>adduuid</key>
				<false/>
				<key>allowemptyfiles</key>
				<true/>
				<key>createintermediatefolders</key>
				<false/>
				<key>filename</key>
				<string>{query}</string>
				<key>filetext</key>
				<string>{var:action_text}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>relativepathmode</key>
				<integer>0</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.writefile</string>
			<key>uid</key>
			<string>4268F5BF-DEAF-4330-9243-96D731A79649</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>keyword</key>
				<string>{var:add_note_keyword}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>function envVar(varName) {
  return $.NSProcessInfo
    .processInfo
    .environment
    .objectForKey(varName).js
}

function run(argv) {
  const noteExt = envVar("new_file_extension")
  const noteDir = envVar("notes_dir")
  const noteName = `${argv[0]}.${noteExt}`
  const notePath = `${noteDir}/${noteName}`
  const tildePath = $(notePath).stringByAbbreviatingWithTildeInPath.js

  // Stop if file exists
  if ($.NSFileManager.defaultManager.fileExistsAtPath(notePath)) return JSON.stringify({ items: [{
    title: "Path Exists!",
    subtitle: tildePath,
    valid: false
  }]})

  // Show title and options
  return JSON.stringify({ items: [{
    title: "Add Note Title",
    subtitle: tildePath,
    arg: notePath
  }]})
}</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>File extension is .{var:new_file_extension}</string>
				<key>title</key>
				<string>Create New Note</string>
				<key>type</key>
				<integer>7</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>FDE07E00-698E-453D-8202-90A71C69A996</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsfiles</key>
				<false/>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>acceptstext</key>
				<true/>
				<key>acceptsurls</key>
				<true/>
				<key>name</key>
				<string>Add note</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.universalaction</string>
			<key>uid</key>
			<string>D004042C-58C6-4A14-9D27-EFE19796B8AF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict/>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>E9284C9B-2763-4D7F-A733-37D92B2DCECB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>action_text</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>8F9BEC2F-8B76-4495-ADFB-310A17A94764</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>adduuid</key>
				<false/>
				<key>allowemptyfiles</key>
				<true/>
				<key>createintermediatefolders</key>
				<false/>
				<key>filename</key>
				<string>{var:note_path}</string>
				<key>filetext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>relativepathmode</key>
				<integer>0</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.writefile</string>
			<key>uid</key>
			<string>3CFC06C4-15FD-458F-8931-B1E802885DC8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>behaviour</key>
				<integer>1</integer>
				<key>fontmode</key>
				<integer>0</integer>
				<key>fontsizing</key>
				<integer>0</integer>
				<key>footertext</key>
				<string>⌘↩ Save and close · ⌥↩ Save and open in text editor</string>
				<key>inputfile</key>
				<string>{var:note_path}</string>
				<key>inputtype</key>
				<integer>2</integer>
				<key>loadingtext</key>
				<string></string>
				<key>outputmode</key>
				<integer>0</integer>
				<key>scriptinput</key>
				<integer>0</integer>
				<key>spellchecking</key>
				<integer>0</integer>
				<key>stackview</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.userinterface.text</string>
			<key>uid</key>
			<string>A5BBBDFA-812C-4890-A9FB-7A4C7412959F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>anchorfields</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>daterange</key>
				<integer>0</integer>
				<key>fields</key>
				<array>
					<dict>
						<key>field</key>
						<string>kMDItemDisplayName</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemTextContent</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
				</array>
				<key>includesystem</key>
				<false/>
				<key>limit</key>
				<integer>0</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>scopes</key>
				<array/>
				<key>sortmode</key>
				<integer>2</integer>
				<key>subtext</key>
				<string>Use * to list all</string>
				<key>title</key>
				<string>Search Notes</string>
				<key>types</key>
				<array>
					<string>+public.plain-text</string>
				</array>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.filefilter</string>
			<key>uid</key>
			<string>45EDDC71-B661-4406-B076-64091AE6AC94</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>// Helpers
function envVar(varName) {
  return $.NSProcessInfo
    .processInfo
    .environment
    .objectForKey(varName).js
}

// Main
const initQuery = envVar("search_with_asterisk") === "1" ? "*" : ""

JSON.stringify({ alfredworkflow: {
  config: { scopes: [envVar("notes_dir")] },
  arg: initQuery
}})</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>7</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>B9401232-A7CF-42BD-AC1E-5A9FEE54DD5C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>{var:view_notes_keyword}</string>
				<key>subtext</key>
				<string>↩ Edit · ⌘↩ Preview · ⌥↩ Copy · ⌃↩ Copy and delete · ⇧ Quick Look</string>
				<key>text</key>
				<string>View Notes</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>D12C7141-4A07-4223-8D0F-AE5AEF64ABC3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>availableviaurlhandler</key>
				<false/>
				<key>triggerid</key>
				<string>new_from_action</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>333830F7-22A8-49D1-9288-2AF6CEF19CBF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:preview_in_alfred}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>5</integer>
						<key>matchstring</key>
						<string></string>
						<key>outputlabel</key>
						<string>Preview</string>
						<key>uid</key>
						<string>5B25A0B4-914F-40A1-9F0C-CD3B39CD20A4</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:edit_in_alfred}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>5</integer>
						<key>matchstring</key>
						<string></string>
						<key>outputlabel</key>
						<string>Edit in Alfred</string>
						<key>uid</key>
						<string>3792075C-B2B2-4006-9CFF-B0CB9D23C57D</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>Edit in App</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>4B7DB4CB-8E78-42E2-BD31-AE422AD38416</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{var:note_path}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>5E8ED3D2-1843-4703-8D38-06A64073881B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict>
					<key>note_path</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>39007B1B-7A95-4D71-8167-54D693358BB8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:open_in_editor}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>5</integer>
						<key>matchstring</key>
						<string></string>
						<key>outputlabel</key>
						<string>Open in Editor</string>
						<key>uid</key>
						<string>8EB01AF1-E5E2-487A-8A45-0087A01F883E</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string></string>
				<key>hideelse</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>5B01A01B-A7DE-4D47-9336-B7CA9E99C023</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict>
					<key>open_in_editor</key>
					<string>true</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>0A1EA1F4-AAFA-4ABD-A6F1-CE1B87C9F961</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict>
					<key>preview_in_alfred</key>
					<string>true</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>6F02DF87-5036-47FA-B960-C57F64C120DD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string></string>
				<key>sourcefile</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>268AF531-D3CC-4EB8-BAA0-059955CBFF2F</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict>
					<key>note_path</key>
					<string>{query}</string>
					<key>trash_note</key>
					<string>true</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>6307D69B-2A58-4CC8-A224-EECFB208F0B8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict/>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>BBDDB0D6-6A05-4706-8428-55AE093FA9E4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict/>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>759121D9-E2D9-429D-A361-034E5C467193</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict/>
				<key>taskuid</key>
				<string>com.alfredapp.automation.core/files-and-folders/file.read</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>EDBCA616-E301-4D4A-9B81-6A94998D0A93</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>BB2CD150-2E0C-44B4-AD25-3E38E4BF793B</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict>
					<key>target_path</key>
					<string>{var:note_path}</string>
				</dict>
				<key>taskuid</key>
				<string>com.alfredapp.automation.core/files-and-folders/path.trash</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>1F5437E9-0DF7-46A4-AA92-81D6427F076B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>behaviour</key>
				<integer>1</integer>
				<key>fontmode</key>
				<integer>0</integer>
				<key>fontsizing</key>
				<integer>0</integer>
				<key>footertext</key>
				<string>⌘↩ Copy · ⌥↩ Create new note</string>
				<key>inputfile</key>
				<string></string>
				<key>inputtype</key>
				<integer>0</integer>
				<key>loadingtext</key>
				<string></string>
				<key>outputmode</key>
				<integer>0</integer>
				<key>scriptinput</key>
				<integer>0</integer>
				<key>spellchecking</key>
				<integer>0</integer>
				<key>stackview</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.userinterface.text</string>
			<key>uid</key>
			<string>B4F04599-BBE1-4B02-8336-0E88ECA304A9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsfiles</key>
				<false/>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>acceptstext</key>
				<true/>
				<key>acceptsurls</key>
				<true/>
				<key>name</key>
				<string>Edit text</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.universalaction</string>
			<key>uid</key>
			<string>6EE6822B-BEF6-4448-AC29-1AF65040217F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>FEC3EEA9-5B06-4A4A-99CB-12577C0176B6</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:trash_note}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>5</integer>
						<key>matchstring</key>
						<string></string>
						<key>outputlabel</key>
						<string>Trash</string>
						<key>uid</key>
						<string>8EB01AF1-E5E2-487A-8A45-0087A01F883E</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string></string>
				<key>hideelse</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>109127CB-1ECA-47B9-B89B-F8E5A698BA9F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>new_from_action</string>
				<key>passinputasargument</key>
				<true/>
				<key>passvariables</key>
				<false/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>3539C1EE-8AB7-4C87-A183-21F45AC60C39</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>## Usage

### Create

Make new notes via the `nadd` keyword. Type a name and press &lt;kbd&gt;↩&lt;/kbd&gt; to open the file for editing.

![Alfred search for nadd](images/about/nadd.png)

Alternatively, create a new note from a selection or [Clipboard History](https://www.alfredapp.com/help/features/clipboard/) with the [Universal Action](https://www.alfredapp.com/help/features/universal-actions/).

![Universal Action to add note](images/about/uaadd.png)

### Search

Find your notes with the `nview` keyword.

![Alfred search for nview](images/about/nview.png)

* &lt;kbd&gt;↩&lt;/kbd&gt; Edit note.
* &lt;kbd&gt;⌘&lt;/kbd&gt;&lt;kbd&gt;↩&lt;/kbd&gt; Preview note in Alfred, parsing markdown.
* &lt;kbd&gt;⌥&lt;/kbd&gt;&lt;kbd&gt;↩&lt;/kbd&gt; Copy note contents.
* &lt;kbd&gt;⌃&lt;/kbd&gt;&lt;kbd&gt;↩&lt;/kbd&gt; Copy note contents and delete it.
* &lt;kbd&gt;⌘&lt;/kbd&gt;&lt;kbd&gt;Y&lt;/kbd&gt; (or tap &lt;kbd&gt;⇧&lt;/kbd&gt;) Quick Look note.

## Edit

Notes can be edited directly in Alfred or a text editor. The default can be changed in the [Workflow’s Configuration](https://www.alfredapp.com/help/workflows/user-configuration/). Alfred’s view is stacked, meaning &lt;kbd&gt;⎋&lt;/kbd&gt; goes back to the search. &lt;kbd&gt;⌘&lt;/kbd&gt;&lt;kbd&gt;⎋&lt;/kbd&gt; force hides.

![Editing note](images/about/edit.png)

* &lt;kbd&gt;⌘&lt;/kbd&gt;&lt;kbd&gt;↩&lt;/kbd&gt; Save note.
* &lt;kbd&gt;⌥&lt;/kbd&gt;&lt;kbd&gt;↩&lt;/kbd&gt; Save and open in text editor.

With the Universal Actions, edit text from a file, a selection, or [Clipboard History](https://www.alfredapp.com/help/features/clipboard/).

![Universal Action to edit text](images/about/uaedittext.png)

![Universal Action to edit file](images/about/uaeditfile.png)

### Preview

Notes previewed in Alfred are parsed as markdown. The view is stacked, meaning &lt;kbd&gt;⎋&lt;/kbd&gt; goes back to the search. &lt;kbd&gt;⌘&lt;/kbd&gt;&lt;kbd&gt;⎋&lt;/kbd&gt; force hides.

![Previewing note](images/about/preview.png)

* &lt;kbd&gt;⌘&lt;/kbd&gt;&lt;kbd&gt;↩&lt;/kbd&gt; Edit note in Alfred.
* &lt;kbd&gt;⌥&lt;/kbd&gt;&lt;kbd&gt;↩&lt;/kbd&gt; Open in text editor.</string>
	<key>uidata</key>
	<dict>
		<key>0A1EA1F4-AAFA-4ABD-A6F1-CE1B87C9F961</key>
		<dict>
			<key>xpos</key>
			<real>1635</real>
			<key>ypos</key>
			<real>440</real>
		</dict>
		<key>109127CB-1ECA-47B9-B89B-F8E5A698BA9F</key>
		<dict>
			<key>xpos</key>
			<real>1300</real>
			<key>ypos</key>
			<real>660</real>
		</dict>
		<key>1F5437E9-0DF7-46A4-AA92-81D6427F076B</key>
		<dict>
			<key>xpos</key>
			<real>1380</real>
			<key>ypos</key>
			<real>630</real>
		</dict>
		<key>268AF531-D3CC-4EB8-BAA0-059955CBFF2F</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>note</key>
			<string>Edit to set a custom application to open notes</string>
			<key>xpos</key>
			<real>2115</real>
			<key>ypos</key>
			<real>480</real>
		</dict>
		<key>333830F7-22A8-49D1-9288-2AF6CEF19CBF</key>
		<dict>
			<key>xpos</key>
			<real>50</real>
			<key>ypos</key>
			<real>335</real>
		</dict>
		<key>3539C1EE-8AB7-4C87-A183-21F45AC60C39</key>
		<dict>
			<key>xpos</key>
			<real>435</real>
			<key>ypos</key>
			<real>780</real>
		</dict>
		<key>39007B1B-7A95-4D71-8167-54D693358BB8</key>
		<dict>
			<key>xpos</key>
			<real>1005</real>
			<key>ypos</key>
			<real>365</real>
		</dict>
		<key>3CFC06C4-15FD-458F-8931-B1E802885DC8</key>
		<dict>
			<key>xpos</key>
			<real>1715</real>
			<key>ypos</key>
			<real>335</real>
		</dict>
		<key>4268F5BF-DEAF-4330-9243-96D731A79649</key>
		<dict>
			<key>xpos</key>
			<real>645</real>
			<key>ypos</key>
			<real>190</real>
		</dict>
		<key>45EDDC71-B661-4406-B076-64091AE6AC94</key>
		<dict>
			<key>xpos</key>
			<real>640</real>
			<key>ypos</key>
			<real>335</real>
		</dict>
		<key>4B7DB4CB-8E78-42E2-BD31-AE422AD38416</key>
		<dict>
			<key>xpos</key>
			<real>1110</real>
			<key>ypos</key>
			<real>340</real>
		</dict>
		<key>5B01A01B-A7DE-4D47-9336-B7CA9E99C023</key>
		<dict>
			<key>xpos</key>
			<real>1885</real>
			<key>ypos</key>
			<real>365</real>
		</dict>
		<key>5E8ED3D2-1843-4703-8D38-06A64073881B</key>
		<dict>
			<key>xpos</key>
			<real>1970</real>
			<key>ypos</key>
			<real>365</real>
		</dict>
		<key>6307D69B-2A58-4CC8-A224-EECFB208F0B8</key>
		<dict>
			<key>xpos</key>
			<real>875</real>
			<key>ypos</key>
			<real>490</real>
		</dict>
		<key>69E2339E-FD01-4F41-91B5-99F8BA6C439F</key>
		<dict>
			<key>xpos</key>
			<real>1260</real>
			<key>ypos</key>
			<real>190</real>
		</dict>
		<key>6EE6822B-BEF6-4448-AC29-1AF65040217F</key>
		<dict>
			<key>xpos</key>
			<real>50</real>
			<key>ypos</key>
			<real>640</real>
		</dict>
		<key>6F02DF87-5036-47FA-B960-C57F64C120DD</key>
		<dict>
			<key>xpos</key>
			<real>925</real>
			<key>ypos</key>
			<real>440</real>
		</dict>
		<key>759121D9-E2D9-429D-A361-034E5C467193</key>
		<dict>
			<key>xpos</key>
			<real>825</real>
			<key>ypos</key>
			<real>540</real>
		</dict>
		<key>798D2B3F-CA9B-4351-AF4B-5B13672FAE9C</key>
		<dict>
			<key>xpos</key>
			<real>50</real>
			<key>ypos</key>
			<real>40</real>
		</dict>
		<key>8D3BABE5-6CDE-4E77-A161-CD8F3EBD3021</key>
		<dict>
			<key>xpos</key>
			<real>685</real>
			<key>ypos</key>
			<real>70</real>
		</dict>
		<key>8F9BEC2F-8B76-4495-ADFB-310A17A94764</key>
		<dict>
			<key>xpos</key>
			<real>225</real>
			<key>ypos</key>
			<real>220</real>
		</dict>
		<key>A5BBBDFA-812C-4890-A9FB-7A4C7412959F</key>
		<dict>
			<key>xpos</key>
			<real>1475</real>
			<key>ypos</key>
			<real>335</real>
		</dict>
		<key>B4F04599-BBE1-4B02-8336-0E88ECA304A9</key>
		<dict>
			<key>xpos</key>
			<real>225</real>
			<key>ypos</key>
			<real>640</real>
		</dict>
		<key>B9401232-A7CF-42BD-AC1E-5A9FEE54DD5C</key>
		<dict>
			<key>note</key>
			<string>Search configuration</string>
			<key>xpos</key>
			<real>475</real>
			<key>ypos</key>
			<real>335</real>
		</dict>
		<key>BB2CD150-2E0C-44B4-AD25-3E38E4BF793B</key>
		<dict>
			<key>xpos</key>
			<real>1145</real>
			<key>ypos</key>
			<real>630</real>
		</dict>
		<key>BBDDB0D6-6A05-4706-8428-55AE093FA9E4</key>
		<dict>
			<key>xpos</key>
			<real>1300</real>
			<key>ypos</key>
			<real>510</real>
		</dict>
		<key>D004042C-58C6-4A14-9D27-EFE19796B8AF</key>
		<dict>
			<key>xpos</key>
			<real>50</real>
			<key>ypos</key>
			<real>190</real>
		</dict>
		<key>D12C7141-4A07-4223-8D0F-AE5AEF64ABC3</key>
		<dict>
			<key>xpos</key>
			<real>305</real>
			<key>ypos</key>
			<real>335</real>
		</dict>
		<key>E9284C9B-2763-4D7F-A733-37D92B2DCECB</key>
		<dict>
			<key>xpos</key>
			<real>1970</real>
			<key>ypos</key>
			<real>220</real>
		</dict>
		<key>EDBCA616-E301-4D4A-9B81-6A94998D0A93</key>
		<dict>
			<key>xpos</key>
			<real>990</real>
			<key>ypos</key>
			<real>630</real>
		</dict>
		<key>FDE07E00-698E-453D-8202-90A71C69A996</key>
		<dict>
			<key>xpos</key>
			<real>305</real>
			<key>ypos</key>
			<real>190</real>
		</dict>
		<key>FEC3EEA9-5B06-4A4A-99CB-12577C0176B6</key>
		<dict>
			<key>xpos</key>
			<real>435</real>
			<key>ypos</key>
			<real>640</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>nadd</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Add Note Keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>add_note_keyword</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>nview</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>View Notes Keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>view_notes_keyword</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>filtermode</key>
				<integer>1</integer>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Notes Folder</string>
			<key>type</key>
			<string>filepicker</string>
			<key>variable</key>
			<string>notes_dir</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>md</string>
				<key>pairs</key>
				<array>
					<array>
						<string>Markdown (.md)</string>
						<string>md</string>
					</array>
					<array>
						<string>Plain Text (.txt)</string>
						<string>txt</string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>New File Type</string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>new_file_extension</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<false/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>Start search with an asterisk</string>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Search</string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>search_with_asterisk</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<true/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>Open for editing in Alfred</string>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Viewer</string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>edit_in_alfred</string>
		</dict>
	</array>
	<key>version</key>
	<string>2025.1</string>
	<key>webaddress</key>
	<string>https://github.com/vitorgalvao/note-taker-workflow/</string>
</dict>
</plist>
